body {
    background-color: #101010;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    color: #ffd700;
}

    .logo span {
        color: #fff;
    }

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

    .menu li a {
        color: #f0f0f0;
        text-decoration: none;
        font-weight: 500;
    }

        .menu li a:hover {
            color: #ffd700;
            transition: 0.3s;
        }

main.contenido {
    max-width: 1000px;
    margin: 40px auto;
    background-color: #181818;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

h1 {
    text-align: center;
    color: #ffd700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #333;
}

th {
    background-color: #222;
    color: #ffd700;
}

tr:hover {
    background-color: #292929;
}

footer {
    text-align: center;
    color: #888;
    font-size: 14px;
    padding: 15px;
    background-color: #111;
    margin-top: 40px;
}

.boton {
    display: inline-block;
    background-color: #ffd700;
    color: #000;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

    .boton:hover {
        background-color: #ffea70;
    }
